<html>

<body bgcolor="skyblue" style="text-align: center;">
	<h1 style="font-family: cursive;">Signup Here</h1>

	<form action="signupProcess" method="post">
		<lable>Enter Id:</lable>
		<input type=" text" name="uid" />
		<br><br>
		<lable>Enter username:</lable>
		<input type=" text" name="uname" />
		<br><br>
		<lable>Enter email:</lable>
		<input type="email" name="email" />
		<br><br>
		<lable>Enter password:</lable>
		<input type="password" name="password" />
		<br><br>
		<lable>Enter mobile number:</lable>
		<input type="text" name="mob" />
		<br><br>
		<input type="submit" value="SIGNUP" />

	</form>
</body>

</html>